body {
  /* border: 1px solid black; */
  width: 99%;
  background-image: url("../img/timothy-dykes-LhqLdDPcSV8-unsplash.jpg");
}

header {
  border: 1px solid black;
  display: flex;
  background-color: white;
}

header h1 {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  align-items: center;
}

nav {
  /* border: 1px solid black; */
  border-left: 1px solid black;
  width: 200px;
  font-size: 1vw;
}

#main-grid {
  /* border: 1px solid black; */
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'results picture picture picture'
    'results description description description'
}

#results {
  /* border: 1px solid black; */
  border-right: 1px solid black;
  padding: 20px;
  grid-area: results;
}

#resultsUL {
  /* border: 1px solid black; */
  padding: 0px;
  width: max-content;
}

#results div {
  /* border: 5px solid red; */
  width: 100%;
  display: flex;
  vertical-align: bottom;
  margin-top: 20px;
  justify-content: space-evenly;
}

#products {
  /* border: 1px solid black; */
  grid-area: picture;
  width: 90%;
  max-height: 100%;
  max-width: 100%;
}

#productImages {
  /* border: 1px solid black; */
  margin-top: 20px;
  display: flex;
  height: 150px;
  justify-content: space-evenly;
  max-height: 100%;
  max-width: 100%;
}

#productImages img {
  border: 1px solid black;
  border-radius: 5%;
  margin-right: 5px;
  max-height: 100%;
  max-width: 100%;
}

#resultsChart {
  /* border: 1px solid black; */
  max-width: 100%;
  height: 300px;

}

#productDescription {
  /* border: 1px solid black; */
  grid-area: description;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

footer {
  background-color: gray;
  border: 1px solid black;
  text-align: center;
  position:fixed;
  width:100%;
  height:70px;
  left:0px;
  bottom:0px;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 3vw;
}