body {
  /* border: 1px solid black; */
  width:99%;
}

header {
  border: 1px solid black;
  display: flex;
}

header h1 {
  /* border: 1px solid black; */
  width:100%;
  display: flex;
  align-items: center;
}

nav {
  /* border: 1px solid black; */
  border-left: 1px solid black;
  width: 200px;
  font-size:1vw;
}

#main-grid {
  /* border: 1px solid black; */
  width:100%;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:auto;
  grid-template-areas:
    'results picture picture picture'
    'results description description description'
}

#results {
  /* border: 1px solid black; */
  border-right: 1px solid black;
  padding: 20px;
  grid-area:results;
}

#resultsUL {
  /* border: 1px solid black; */
  padding:0px;
  width:max-content;
}

#results div {
  /* border: 1px solid black; */
  width:100%;
  display:flex;
  vertical-align: bottom;
  margin-top:20px;
}

#products {
  /* border: 1px solid black; */
  grid-area:picture;
  width:90%;
  max-height: 100%;
  max-width: 100%;
}

#productImages { 
  /* border: 1px solid black; */
  display:flex;
  height: 150px;
  justify-content:space-evenly;
  max-height: 100%;
  max-width: 100%;
}

#productImages img {
  /* border: 1px solid black; */
  margin-right:5px;
  max-height: 100%;
  max-width: 100%;
}

#productDescription { 
  /* border: 1px solid black; */
  grid-area:description;

}

footer {
  border: 1px solid black;
  text-align: center;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 3vw;
}
